# 회문 찾기
- 제대로 읽나 거꾸로 읽나 똑같은 문장

In [20]:
def palindrome():
    # 큐와 스택을 리스트로 정의
#     a,b = map(str, input('회문인지 여부 확인 할 단어를 입력하시오').split(','))
    word = input('단어 입력 : --> ')
    qu = []
    st = [] 
    qu.append(word)
    st.append(word)
    return word

In [21]:
palindrome()

단어 입력 : --> tomato

['tomato']

In [23]:
d = {'justin':13, 'john':10, 'mike':22}

In [24]:
d

{'justin': 13, 'john': 10, 'mike': 22}

In [25]:
d['justin']

13

In [27]:
d['summer'] = 19

In [28]:
d

{'justin': 13, 'john': 10, 'mike': 22, 'summer': 19}

In [29]:
d['summer']=28

In [30]:
d

{'justin': 13, 'john': 10, 'mike': 22, 'summer': 28}

In [31]:
s_info = {
    1:'백승구',
    2:'홍길동',
    3:'김건우'
}

In [32]:
s_info

{1: '백승구', 2: '홍길동', 3: '김건우'}

In [33]:
s= {
    1:2
    2:3
    2:5
}

SyntaxError: invalid syntax (<ipython-input-33-38ff45a9297f>, line 3)

In [34]:
s_info[3]

'김건우'

In [38]:
s_info[4]='최재원'

In [39]:
s_info

{1: '백승구', 2: '홍길동', 3: '김건우', 4: '최재원'}

In [40]:
del s_info[2]

In [41]:
s_info

{1: '백승구', 3: '김건우', 4: '최재원'}

In [43]:
name_dic = {}

In [46]:
name_list= ['tom','jake','harry','mike','bob','zeze','nate','franky','tom', 'bob']

In [47]:
len(name_list)

10

In [67]:
name_dic = {}
name_dic2= {}
for i in name_list:
    if i in name_dic:
        name_dic[i] += 1
    else : name_dic[i] = 1
    if name_dic[i] >=2:
        name_dic2[i] = name_dic[i]
print(name_dic)
print(name_dic2)

{'tom': 2, 'jake': 1, 'harry': 1, 'mike': 1, 'bob': 2, 'zeze': 1, 'nate': 1, 'franky': 1}
{'tom': 2, 'bob': 2}